$borderRadius: 5px;

.main-page {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    overflow: hidden;

    &__title {
	    font-size: 64px;
    	color: white;
    }

	&__content {
		width: 50%;
		margin-bottom: 32px;
	}

	&__input-wrapper {
		width: 100%;
	    display: flex;
	    justify-content: center;
	}

	&__input {
		width: 50%;
	    border-radius: $borderRadius 0 0 $borderRadius;
	    border: 1px solid grey;
	    padding-left: 16px;
	    box-shadow: 4px 4px #22203B;

	    &:focus-visible {
	    	outline: 1px solid purple;
	    }
	}

	&__notification {
		text-align: center;
	    margin-top: 8px;
	    font-size: 18px;
	    color: white;
	}

	&__main-btn {
		background-color: #a33fac;
    	border-radius: 0 $borderRadius $borderRadius 0;
		border: none;
		color: white;
		font-size: 20px;
		padding: 16px;
		cursor: pointer;
		box-shadow: 4px 4px #22203B;
		transition: background-color 250ms;

		&:hover {
			background-color: #d975e2;
		}
	}
	
}