@import '../../utils/custom-variables.scss';

.stats-page {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    overflow: hidden;

    &__title {
	    font-size: 64px;
    	color: white;
    }

    &__header {
    	width: 70%;
    	display: flex;
    	justify-content: space-between;
    }

    &__item-list {
    	width: 70%;
    	margin-bottom: calc($minSpace * 8);
    }

    &__item {
    	background-color: white;
	    border-radius: $borderRadius;
	    display: flex;
	    justify-content: space-between;
	    box-shadow: $boxShadow;
    	margin-bottom: calc($minSpace * 2);
	    align-items: center;
	    padding: calc($minSpace * 2);
    }

    &__text {
    	font-size: 16px;
    	font-weight: bold;

    	&--header {
    		color: white;
    		padding: calc($minSpace * 2);
    	}
    }
}