$borderRadius: 5px;

.item {
	background-color: white;
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px #22203B;
	margin-bottom: 16px;
    align-items: center;
    padding-left: 16px;

    &__text-wrapper {
		display: flex;
    	flex-direction: column;
	}

	&__text {
		font-size: 14px;

		&--highlighted {
			font-size: 20px;
			font-weight: bold;
		    margin-bottom: 4px;
		}
	}

	&__link {
		margin-right: 16px;
	    text-decoration: none;
	    font-weight: bold;
	    color: #a33fac;
	    cursor: pointer;

	    &:hover {
	    	color: #d975e2;
	    }
	}

	&__btn {
	    padding: 16px;
        height: 64px;
	    background-color: #D80000;
	    border-radius: 0 $borderRadius $borderRadius 0;
	    border: none;
	    color: white;
	    font-size: 16px;
	    cursor: pointer;
	    transition: background-color 250ms;

	   	&:hover {
	   		background-color: #FF0000;
	   	}
	}
}