@import '../../../../utils/custom-variables.scss';

.item {
	background-color: white;
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-between;
    box-shadow: $boxShadow;
	margin-bottom: calc($minSpace * 2);
    align-items: center;
    padding-left: calc($minSpace * 2);

    &__text-wrapper {
		display: flex;
    	flex-direction: column;
	}

	&__text {
		font-size: 14px;

		&--highlighted {
			font-size: 20px;
			font-weight: bold;
		    margin-bottom: calc($minSpace / 2);
		}
	}

	&__link {
		margin-right: calc($minSpace * 2);
	    text-decoration: none;
	    font-weight: bold;
	    color: $mainColor;
	    cursor: pointer;

	    &:hover {
	    	color: $mainColorLight;
	    }
	}

	&__btn {
	    padding: calc($minSpace * 2);
        height: calc($minSpace * 8);
	    background-color: $alertColor;
	    border-radius: 0 $borderRadius $borderRadius 0;
	    border: none;
	    color: white;
	    font-size: 16px;
	    cursor: pointer;
	    transition: background-color 250ms;

	   	&:hover {
	   		background-color: $alertColorLight;
	   	}
	}
}